body {
    font-family: 'Roboto', sans-serif;
    background: #f8f9fa;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
    position: fixed;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #212529;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #343a40;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #495057;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #495057;
}

#content {
    width: calc(100% - 250px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    background-color: #5cb85c;
    color: white;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    background-color: #f0ad4e;
    color: white;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    background-color: #d9534f;
    color: white;
}

.huge {
    font-size: 40px;
}

.panel-info {
    border-color: #5bc0de;
}

.panel-info .panel-heading {
    background-color: #5bc0de;
    color: white;
}

.panel-success {
    border-color: #28a745;
}

.panel-success .panel-heading {
    background-color: #28a745;
    color: white;
}

.panel-warning {
    border-color: #ffc107;
}

.panel-warning .panel-heading {
    background-color: #ffc107;
    color: white;
}

.panel-default .panel-heading {
    color: white;
    background-color: #6c757d;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
}
